body {
    font-family: Arial, sans-serif;
    background-image: url('img/fondo.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #068bd8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contenido {
    text-align: center;
}

#menu {
    margin-bottom: 20px;
}

#formulario-agregar, #formulario-mostrar {
    text-align: left;
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #087ce9;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

#resultado {
    margin-top: 20px;
    text-align: left;
}
